.container {
    padding: 0 180px;
  }
  
  .container h1 {
    color: #053f5e;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 59px;
    letter-spacing: 0em;
    text-align: left;
    margin: 0;
  }

  .actionButton {
    display: flex;
    justify-content: flex-end;
  }
  
  .actionButton .button {
    margin-right: 50px;
    height: 80px;
    width: 80px;
    color: white;
    background-color: #0097e6;
  }
  
  /* .actionButton .button:hover {
    margin-right: 50px;
    height: 80px;
    width: 80px;
    color: white;
    background-color: #19afff;
  } */
  
  .actionButton .hoveringText {
    margin-right: 10px;
    margin-top: 15px;
    height: 42px;
    width: 177px;
    background-image: url("../../assets/Illustration/addmodule.png");
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .actionButton .hoveringText span {
    color: #ffffff;
    font-style: normal;
    font-weight: 600;
    line-height: 25px;
    font-size: 20px;
    padding: 14px;
  }
  