.card {
    width: 256px;
    height: 300px;
    /* background-color: black; */
    border-radius: 10px;
    margin-right: 42px;
    margin-bottom: 40px;
  }
  
  .card .content {
    display: flex;
    flex-direction: row;
  }
  
  .card:nth-child(5n + 0) {
    margin-right: 0;
  }
  
  .card:hover {
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.2);
    transform: scale(1.02);
    cursor: pointer;
  }
  
  .card .cardImg {
    height: 80px;
    width: 80px;
    background-color: darkgrey;
    border-radius: 50%;
    margin-bottom: 17px;
  }
  
  .card .menuIcon {
    height: 3px;
    width: 22px;
    margin-left: 90px;
  }
  
  .card .status {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
    width: 130px;
    border-radius: 4px;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: center;
    color: #fff;
    padding: 4px 12px;
    margin-bottom: 12px;
  }
  
  .card p {
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 12px;
    height: 66px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  
  .card hr {
    border: 0.5px solid #bababa;
    margin-bottom: 13px;
  }
  
  .card .penulis {
    display: flex;
    flex-direction: row-reverse;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    color: #4a4a4a 85%;
    height: 20px;
    overflow: hidden;
  }
  