.container {
    background-color: #f1f3f6;
    max-width: 100% !important;
    height: 100vh;
    padding: 65px 165px;
    margin: 0px 0px;
  }
  .back {
    margin-left: 165px;
  }
  .title {
    width: 303px;
    height: 59px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 59px;
    color: #053f5e;
    text-align: center !important;
    margin-left: 800px;
  }
  .titleModule {
    margin-left: 243px !important;
    margin-top: 60px;
    width: 231px;
    height: 39px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 39px;
    color: #4f4c4c;
  }
  .isiTitle {
    margin-left: 243px !important;
    border-radius: 20px;
    width: 1000px !important;
    height: 70px;
    background-color: white !important;
    border: 1px solid #364f6b;
  }
  .isiTitle p {
    width: 167px;
    height: 29px;
    color: #4f4c4c;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 34px;
    margin-top: 18px;
    margin-left: 20px;
  }
  .paper {
    width: 550px;
    height: 70px;
    margin-left: 243px;
    margin-top: 35px;
    border: 1px solid #364f6b;
    font-size: 24px;
    border-radius: 20px !important;
  }
  .paper p {
    padding: 0px 0px;
    height: 70px;
    margin-left: 10px;
    margin-right: 350px;
  }
  .dropdown {
    margin-left: 320px;
    margin-top: 8px;
    position: absolute;
  }
  .descritionModule {
    margin-left: 243px !important;
    margin-top: 20px;
    width: 231px;
    height: 39px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 39px;
    color: #4f4c4c;
  }
  .descript {
    background-color: white;
    border-radius: 20px;
    width: 1424px;
    height: 150px;
    margin-left: 243px;
    margin-bottom: 0px;
    border: 1px solid #364f6b;
  }
  .descript2 {
    border: none;
    margin-left: 20px;
    font-size: 24px;
    margin-top: 20px;
    width: 1380px;
    height: 100px;
  }
  .buttonCancel {
    width: 156px;
    height: 50px;
    filter: drop-shadow(1px 4px 6px rgba(19, 16, 16, 0.1)) !important;
    border-radius: 10px;
    background-color: #ff0000 !important;
    font-family: "Montserrat" !important;
    font-style: normal;
    font-weight: 600;
    font-size: 20px !important;
    line-height: 24px;
    margin-top: 40px !important;
    margin-right: 48px !important;
    margin-left: 1300px !important;
  }
  .buttonSubmit {
    width: 156px;
    height: 50px;
    filter: drop-shadow(1px 4px 6px rgba(0, 0, 0, 0.1)) !important;
    border-radius: 10px;
    background-color: #0097e6 !important;
    font-family: "Montserrat" !important;
    font-style: normal;
    font-weight: 600;
    font-size: 20px !important;
    line-height: 24px;
    margin-top: 40px !important;
    margin-right: 48px !important;
  }
  .buttonBrowse {
    width: 275px;
    height: 50px;
    filter: drop-shadow(1px 4px 6px rgba(0, 0, 0, 0.1)) !important;
    border-radius: 10px;
    background-color: #0097e6 !important;
    font-family: "Montserrat" !important;
    font-style: normal;
    font-weight: 600;
    font-size: 20px !important;
    line-height: 24px;
    margin-left: 1380px !important;
  }
  .browseImage {
    margin-left: 1400px;
    margin-top: 60px;
    position: absolute;
  }
  