
  .navbar-custom {
    width: 100%;
    max-height: 69px;
    background-color: #A9A9A9;
  }
  
  .title-main-navbar {
    color: white;
    font-size: 36px;
    margin-left: 64px;
    font-weight: bold;
    margin-top: -10px;
    
  }
  
  .navbar-add-even {
    color: black;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    margin-right: 50px;
    margin-top: -2px;
    
  }
  
  .navbar-dashboard{
    color: white;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    text-align: right;
    margin-top: -2px;
    margin-right: 100px;
  }
  